
.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background-color: transparent;
    color: white;
    
}

form {
    padding-top: 25%;
    text-align: center;
}

body {
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);    
 }

 @media screen and (max-width:650px) {
     body {
        background-image: linear-gradient( 359.8deg,  rgba(252,255,222,1) 2.2%, rgba(182,241,171,1) 99.3% );
         
     }
 }
.button{
    display: block;
    margin-left: 45.1%;
    margin-right: auto;
    position: relative;
    top: 30%;
    width: 100px;
    height: 30px;
}
.search .input{
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.search {
    width: 200px;
    display: block;
    margin-left: 46%;
    margin-right: auto;
    position: relative;
    top: 30%;
}

.imageOfLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.table {
    font-family: Arial, serif;
    border-collapse: collapse;
    display: block;
    margin-left: 37%;
    margin-right: auto;
    position: relative;
    top: 50%;
    width: 30%;
}
.table, td{
    border: 1px solid #020202;
    padding: 4px;
}
.table, th {
    padding-top: 12px;
    padding-bottom: 6px;
    text-align: left;
}

.ad2{
    position: absolute;
    bottom: 40%;
    right: 0;
    background:#F1F6FB;
    border:#D6DFD8 2px solid;
    vertical-align:middle;
    text-align:center;
    width:160px;
    padding:180px 68px 180px 68px;
    color:#879F9F;
    margin: 0;

}
@media (max-width: 600px) {
    p {
      font-size: 1.25rem;  
    }
}

@media (max-width: 800px) {
    p {
      font-size: 1.5rem;
      line-height: 1.5;
    }

}

@media only screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
}

  @media only screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: Arial;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown {
    position: relative;
    display: inline-block;
    left: 35px;
}
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #484848;}
.dropdown:hover .dropbtn {background-color: #484848;}

@media screen and (max-width: 100px) {
    .topnav a {
      float: none;
      width: 100%;
    }

}  
.form-popup {
    display: none;
    max-width: 200px;
    max-height: fit-content;
    background-color: grey;
    position: fixed;
    bottom: 0;
    font-family: Arial;
    right: 15px;
    border: 3px solid black;
    z-index: 9;
  }


                    /*Error message */
.errText {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup */
.popup .errText {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
} 

.responseArea {
    margin: auto;
    position: absolute;
    left: 25%;
    bottom: 10%;
}

hr {
    position: absolute;
    bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
}

/* Social media buttons within footer */
.socialM{
    list-style:none;
    align-items:center;
    display:inline block;
    display:flex;
    
    
}
.socialM li{
    margin:0 15px;

}
.socials{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fa-facebook, .fa-linkedin{
-webkit-text-stroke: 0.2mm black;

}
.navB a{
text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 120%;
    float: none;
    padding-left: 5%;

}
.navB{
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    
}
.bodyCon{
    text-align: center;
    margin-left: 29%;
    margin-right: 19%;
}
.border{
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 5%;
}
